# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Default

steps:

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'Write-Host "@@ $(AzureStackSPId) @@@"'
    pwsh: true

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: '$(Build.SourcesDirectory)\Test-AzAccounts.ps1 -ResourceManagerEndpoint "https://management.bellevue.azurestack.corp.microsoft.com/" -TenantId "246b1785-9030-40d8-a0f0-d94b15dc002c" -ClientIDForSecret "$env:AzureStackSPId" -ClientSecret "$env:AzureStackSPSecret" -SubscriptionId "a883f378-d48e-4897-9504-6690b0a57f9f"'
    pwsh: true

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'ls'
