# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Default

steps:

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      $repo = New-Item -Path "$(Build.SourcesDirectory)" -Name "az-new" -ItemType "directory"
      Write-Host $repo.FullName
      $webClient = new-object system.net.webclient
      $webClient.DownloadFile("https://modulestorage.blob.bellevue.azurestack.corp.microsoft.com/azaccountscontainer/Az.Accounts.2.1.2.nupkg", "$($repo.FullName)\Az.Accounts.2.1.2.nupkg")

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'ls'
